PORT=3001
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=admin
MYSQL_DATABASE=qc_report
JWT_SECRET=abc123xyz789QwErTyUiOpAsDfGhJkLzXcVbNm9876543210
PUBLIC_BASE_URL=http://localhost:3001
LIBRETRANSLATE_URL=https://libretranslate.com/translate
LIBRETRANSLATE_ENABLED=true

